<div class="header">
<div class="tinydatalogo">
    <a>
        <img src="../../assets/media/tinydata.jpg" height="60%" width="60%"  alt="tinydata" >
    </a>
</div>
<div class="companyname"><h1 class="heading" >Nitrogen Module </h1></div>   

<div class="userprofile">
    <nb-user name="Name" title="Regional Manager" shape="rectangle" size="medium" picture="" color="#cccccc"></nb-user>
</div>

<div class="languageselection">

    <nb-select placeholder="Language" size="tiny" [(ngModel)]="selectedItemNgModel" filled status="primary" >
        <nb-option value="1">English</nb-option>
        <nb-option value="2">తెలుగు</nb-option>
        <nb-option value="3">हिंदी</nb-option>
        
      </nb-select>

</div>
   <div class="hpcllogo">
    <a class="hpcl">
        <img src="../../assets/media/hpcl.png"  height="70" width="55" alt="tinydata" ><br>
    </a>
</div> 
</div>

<style>
    .heading{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
 </style>   