
.header{
    display:flex;
    flex-direction: row;
    align-items: center;

}


.home-btn{
  display: flex;
  position: absolute;
  top: 6%;
  right: 20%;
}
.heading{
    position: absolute;
    top:5%;
    left: 50%;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
}

.tinydatalogo{
  position: absolute;
  top: 1%;
  left: 5%;
}

