
.header{
    display:flex;
    flex-direction: row;
    align-items: center;

}

.hpcllogo{
    position: absolute;
    top: auto;
    right: 1%;
}



.heading{
    position: absolute;
    top:1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tinydatalogo{
  position: absolute;
  top: 1%;
  left: 5%;
}

.userprofile{
    position: absolute;
    top:1%;
    right:7%;
}